# Battle of the neigbourhoods

by Tom Fenske

### 1. Importing libraries and datasets

In [1]:
#Import necessary libraries
import pandas as pd
import numpy as np
import folium
import re
print('Libraries succesfully imported')

Libraries succesfully imported

In [2]:
#Defining the url's from which the names and coordinates of stations are read

url_metro='https://de.m.wikipedia.org/wiki/Liste_der_Stationen_der_S-Bahn_Berlin'
url_subway='https://de.m.wikipedia.org/wiki/Liste_der_Berliner_U-Bahnh%C3%B6fe'

In [3]:
#Reading the table from the url into a pandas dataframe
df_metro=pd.read_html(url_metro)[0]
print('Done')

Done

In [4]:
df_metro.head()

,S-Bahnhof(ehem. Name),Strecke,Linie(n),Lage,Aufnahme,Einstellung,Unnamed: 6,Unnamed: 7,Bemerkungen,Bild
0,Adlershof(bis 1935 Adlershof=Alt-Glienicke),Görlitzer Bahn,NaN,"Adlershof(Treptow-Köpenick)52° 26′ 5″ N, 13° 3...",06. Nov. 1928,NaN,NaN,NaN,NaN,NaN
1,Ahrensfelde,Wriezener Bahn,NaN,"Marzahn(Marzahn-Hellersdorf)52° 34′ 18″ N, 13°...",NaN,NaN,×,NaN,NaN,NaN
2,Albrechtshof,Hamburger Bahn,NaN,"Staaken(Spandau)52° 32′ 58″ N, 13° 7′ 42″ O",NaN,09. Okt. 1961,NaN,NaN,NaN,NaN
3,Alexanderplatz,Stadtbahn,NaN,"Mitte(Mitte)52° 31′ 17″ N, 13° 24′ 43″ O",NaN,NaN,×,×,NaN,NaN
4,Alt-Reinickendorf(bis 1994 Reinickendorf),Kremmener Bahn,NaN,"Reinickendorf(Reinickendorf)52° 34′ 40″ N, 13°...",NaN,09. Jan. 1984,NaN,NaN,NaN,NaN

In [5]:
df_metro['S-Bahnhof(ehem. Name)'] = df_metro['S-Bahnhof(ehem. Name)'].astype(str)

In [6]:
df_metro['Station']=df_metro['S-Bahnhof(ehem. Name)'].str.split('(')
df_metro['Station']=df_metro['S-Bahnhof(ehem. Name)'].str.split('(',expand=True)

In [7]:
df_metro.head()

,S-Bahnhof(ehem. Name),Strecke,Linie(n),Lage,Aufnahme,Einstellung,Unnamed: 6,Unnamed: 7,Bemerkungen,Bild,Station
0,Adlershof(bis 1935 Adlershof=Alt-Glienicke),Görlitzer Bahn,NaN,"Adlershof(Treptow-Köpenick)52° 26′ 5″ N, 13° 3...",06. Nov. 1928,NaN,NaN,NaN,NaN,NaN,Adlershof
1,Ahrensfelde,Wriezener Bahn,NaN,"Marzahn(Marzahn-Hellersdorf)52° 34′ 18″ N, 13°...",NaN,NaN,×,NaN,NaN,NaN,Ahrensfelde
2,Albrechtshof,Hamburger Bahn,NaN,"Staaken(Spandau)52° 32′ 58″ N, 13° 7′ 42″ O",NaN,09. Okt. 1961,NaN,NaN,NaN,NaN,Albrechtshof
3,Alexanderplatz,Stadtbahn,NaN,"Mitte(Mitte)52° 31′ 17″ N, 13° 24′ 43″ O",NaN,NaN,×,×,NaN,NaN,Alexanderplatz
4,Alt-Reinickendorf(bis 1994 Reinickendorf),Kremmener Bahn,NaN,"Reinickendorf(Reinickendorf)52° 34′ 40″ N, 13°...",NaN,09. Jan. 1984,NaN,NaN,NaN,NaN,Alt-Reinickendorf

In [8]:
df_metro.set_index('Station')

,S-Bahnhof(ehem. Name),Strecke,Linie(n),Lage,Aufnahme,Einstellung,Unnamed: 6,Unnamed: 7,Bemerkungen,Bild
Station,,,,,,,,,,
Adlershof,Adlershof(bis 1935 Adlershof=Alt-Glienicke),Görlitzer Bahn,NaN,"Adlershof(Treptow-Köpenick)52° 26′ 5″ N, 13° 3...",06. Nov. 1928,NaN,NaN,NaN,NaN,NaN
Ahrensfelde,Ahrensfelde,Wriezener Bahn,NaN,"Marzahn(Marzahn-Hellersdorf)52° 34′ 18″ N, 13°...",NaN,NaN,×,NaN,NaN,NaN
Albrechtshof,Albrechtshof,Hamburger Bahn,NaN,"Staaken(Spandau)52° 32′ 58″ N, 13° 7′ 42″ O",NaN,09. Okt. 1961,NaN,NaN,NaN,NaN
Alexanderplatz,Alexanderplatz,Stadtbahn,NaN,"Mitte(Mitte)52° 31′ 17″ N, 13° 24′ 43″ O",NaN,NaN,×,×,NaN,NaN
Alt-Reinickendorf,Alt-Reinickendorf(bis 1994 Reinickendorf),Kremmener Bahn,NaN,"Reinickendorf(Reinickendorf)52° 34′ 40″ N, 13°...",NaN,09. Jan. 1984,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
Zehlendorf,Zehlendorf(bis 1938 Zehlendorf Mitte),StammbahnWannseebahn,NaN,"Zehlendorf(Steglitz-Zehlendorf)52° 25′ 51″ N, ...",01. Feb. 1985,NaN,NaN,NaN,1980 infolge des Reichsbahnerstreiks geschlossen,NaN
Zehlendorf Süd,Zehlendorf Süd,Stammbahn,NaN,"Zehlendorf(Steglitz-Zehlendorf)52° 25′ 32″ N, ...",NaN,NaN,NaN,NaN,NaN,NaN
Zepernick,Zepernick (b Bernau)(bis 1960 Zepernick [Kr Ni...,Stettiner Bahn,NaN,"Panketal52° 39′ 35″ N, 13° 32′ 2″ O",08. Aug. 1924,NaN,NaN,NaN,NaN,NaN
Zeuthen,Zeuthen,Görlitzer Bahn,NaN,"Zeuthen52° 20′ 55″ N, 13° 37′ 39″ O",NaN,NaN,NaN,NaN,NaN,NaN
Zoologischer Garten,Zoologischer Garten,Stadtbahn,NaN,Charlottenburg(Charlottenburg-Wilmersdorf)52° ...,NaN,NaN,×,×,NaN,NaN

In [9]:
#df_metro.drop('Zeuthen', axis=0, inplace=True)
#df_metro.drop(columns=['Zepernick', 'Zeuthen'])
#df_metro['Station']=df_metro['Station'].astype(str)

In [10]:
#df_metro.drop('Zepernick', axis=0, inplace=True)
df_metro['Station'][192]

'Zoologischer Garten'

In [11]:
#list=[]
#for i in list
    #df_metro.drop(i, axis=0, inplace=True)

In [12]:
#Dropping columns which we do not need
df_metro = df_metro.drop(['S-Bahnhof(ehem. Name)', 'Strecke', 'Linie(n)','Aufnahme', 'Einstellung','Bemerkungen', 'Unnamed: 6', 'Unnamed: 7','Bild'], axis=1)
df_metro.head()

                                                Lage            Station
0  Adlershof(Treptow-Köpenick)52° 26′ 5″ N, 13° 3...          Adlershof
1  Marzahn(Marzahn-Hellersdorf)52° 34′ 18″ N, 13°...        Ahrensfelde
2        Staaken(Spandau)52° 32′ 58″ N, 13° 7′ 42″ O       Albrechtshof
3           Mitte(Mitte)52° 31′ 17″ N, 13° 24′ 43″ O     Alexanderplatz
4  Reinickendorf(Reinickendorf)52° 34′ 40″ N, 13°...  Alt-Reinickendorf

In [13]:
# Extracting the neighbourhoods and the Coordinates from the "Lage" column
df_metro['Neighbourhood']=df_metro['Lage'].str.extract('(\w*)', expand=True)
df_metro['Coordinates'] = df_metro['Lage'].str.extract('(\d.*)', expand=True)
df_metro.head()

,Lage,Station,Neighbourhood,Coordinates
0,"Adlershof(Treptow-Köpenick)52° 26′ 5″ N, 13° 3...",Adlershof,Adlershof,"52° 26′ 5″ N, 13° 32′ 29″ O"
1,"Marzahn(Marzahn-Hellersdorf)52° 34′ 18″ N, 13°...",Ahrensfelde,Marzahn,"52° 34′ 18″ N, 13° 33′ 54″ O"
2,"Staaken(Spandau)52° 32′ 58″ N, 13° 7′ 42″ O",Albrechtshof,Staaken,"52° 32′ 58″ N, 13° 7′ 42″ O"
3,"Mitte(Mitte)52° 31′ 17″ N, 13° 24′ 43″ O",Alexanderplatz,Mitte,"52° 31′ 17″ N, 13° 24′ 43″ O"
4,"Reinickendorf(Reinickendorf)52° 34′ 40″ N, 13°...",Alt-Reinickendorf,Reinickendorf,"52° 34′ 40″ N, 13° 21′ 2″ O"

In [14]:
#Cleaning the Coordinates in order to express them as float later on
df_metro['Coordinates']=df_metro['Coordinates'].str.replace(' ', '')
df_metro['Coordinates']=df_metro['Coordinates'].str.replace('′', '\'')
df_metro['Coordinates']=df_metro['Coordinates'].str.replace('″', '\"')
df_metro.head()

,Lage,Station,Neighbourhood,Coordinates
0,"Adlershof(Treptow-Köpenick)52° 26′ 5″ N, 13° 3...",Adlershof,Adlershof,"52° 26' 5"" N,13° 32' 29"" O"
1,"Marzahn(Marzahn-Hellersdorf)52° 34′ 18″ N, 13°...",Ahrensfelde,Marzahn,"52° 34' 18"" N,13° 33' 54"" O"
2,"Staaken(Spandau)52° 32′ 58″ N, 13° 7′ 42″ O",Albrechtshof,Staaken,"52° 32' 58"" N,13° 7' 42"" O"
3,"Mitte(Mitte)52° 31′ 17″ N, 13° 24′ 43″ O",Alexanderplatz,Mitte,"52° 31' 17"" N,13° 24' 43"" O"
4,"Reinickendorf(Reinickendorf)52° 34′ 40″ N, 13°...",Alt-Reinickendorf,Reinickendorf,"52° 34' 40"" N,13° 21' 2"" O"

In [15]:
#Splitting Coordinates into Latitude and Longitude
df_metro[['Latitude','Longitude']]=df_metro['Coordinates'].str.split(",",expand=True)
df_metro.head()

,Lage,Station,Neighbourhood,Coordinates,Latitude,Longitude
0,"Adlershof(Treptow-Köpenick)52° 26′ 5″ N, 13° 3...",Adlershof,Adlershof,"52° 26' 5"" N,13° 32' 29"" O","52° 26' 5"" N","13° 32' 29"" O"
1,"Marzahn(Marzahn-Hellersdorf)52° 34′ 18″ N, 13°...",Ahrensfelde,Marzahn,"52° 34' 18"" N,13° 33' 54"" O","52° 34' 18"" N","13° 33' 54"" O"
2,"Staaken(Spandau)52° 32′ 58″ N, 13° 7′ 42″ O",Albrechtshof,Staaken,"52° 32' 58"" N,13° 7' 42"" O","52° 32' 58"" N","13° 7' 42"" O"
3,"Mitte(Mitte)52° 31′ 17″ N, 13° 24′ 43″ O",Alexanderplatz,Mitte,"52° 31' 17"" N,13° 24' 43"" O","52° 31' 17"" N","13° 24' 43"" O"
4,"Reinickendorf(Reinickendorf)52° 34′ 40″ N, 13°...",Alt-Reinickendorf,Reinickendorf,"52° 34' 40"" N,13° 21' 2"" O","52° 34' 40"" N","13° 21' 2"" O"

In [16]:
def coord_to_float(coord):
    degrees, minutes, seconds, direction = re.split('[°\'"]+', coord)
    latlon = float(degrees) + float(minutes)/60 + float(seconds)/(60*60);
    if direction in ('S','W'):
        latlon=latlon* -1
    return latlon

In [17]:
df_metro.isna().sum()

Lage              0
Station           0
Neighbourhood     0
Coordinates      21
Latitude         21
Longitude        21
dtype: int64

In [18]:
df_metro = df_metro.dropna()
df_metro.reset_index(drop=True, inplace=True)

In [19]:
df_metro.isna().sum()

Lage             0
Station          0
Neighbourhood    0
Coordinates      0
Latitude         0
Longitude        0
dtype: int64

In [20]:
df_metro

,Lage,Station,Neighbourhood,Coordinates,Latitude,Longitude
0,"Adlershof(Treptow-Köpenick)52° 26′ 5″ N, 13° 3...",Adlershof,Adlershof,"52° 26' 5"" N,13° 32' 29"" O","52° 26' 5"" N","13° 32' 29"" O"
1,"Marzahn(Marzahn-Hellersdorf)52° 34′ 18″ N, 13°...",Ahrensfelde,Marzahn,"52° 34' 18"" N,13° 33' 54"" O","52° 34' 18"" N","13° 33' 54"" O"
2,"Staaken(Spandau)52° 32′ 58″ N, 13° 7′ 42″ O",Albrechtshof,Staaken,"52° 32' 58"" N,13° 7' 42"" O","52° 32' 58"" N","13° 7' 42"" O"
3,"Mitte(Mitte)52° 31′ 17″ N, 13° 24′ 43″ O",Alexanderplatz,Mitte,"52° 31' 17"" N,13° 24' 43"" O","52° 31' 17"" N","13° 24' 43"" O"
4,"Reinickendorf(Reinickendorf)52° 34′ 40″ N, 13°...",Alt-Reinickendorf,Reinickendorf,"52° 34' 40"" N,13° 21' 2"" O","52° 34' 40"" N","13° 21' 2"" O"
...,...,...,...,...,...,...
167,"Zehlendorf(Steglitz-Zehlendorf)52° 25′ 51″ N, ...",Zehlendorf,Zehlendorf,"52° 25' 51"" N,13° 15' 30"" O","52° 25' 51"" N","13° 15' 30"" O"
168,"Zehlendorf(Steglitz-Zehlendorf)52° 25′ 32″ N, ...",Zehlendorf Süd,Zehlendorf,"52° 25' 32"" N,13° 14' 24"" O","52° 25' 32"" N","13° 14' 24"" O"
169,"Panketal52° 39′ 35″ N, 13° 32′ 2″ O",Zepernick,Panketal52,"52° 39' 35"" N,13° 32' 2"" O","52° 39' 35"" N","13° 32' 2"" O"
170,"Zeuthen52° 20′ 55″ N, 13° 37′ 39″ O",Zeuthen,Zeuthen52,"52° 20' 55"" N,13° 37' 39"" O","52° 20' 55"" N","13° 37' 39"" O"
171,Charlottenburg(Charlottenburg-Wilmersdorf)52° ...,Zoologischer Garten,Charlottenburg,"52° 30' 26"" N,13° 19' 57"" O","52° 30' 26"" N","13° 19' 57"" O"

In [21]:
df_metro.reset_index()
df_metro['lat']=df_metro['Latitude']
df_metro['lon']=df_metro['Longitude']
for i in range(0,172):
    df_metro['lat'][i]=coord_to_float(df_metro['Latitude'][i])
    df_metro['lon'][i]=coord_to_float(df_metro['Longitude'][i])

In [22]:
df_metro.head()

,Lage,Station,Neighbourhood,Coordinates,Latitude,Longitude,lat,lon
0,"Adlershof(Treptow-Köpenick)52° 26′ 5″ N, 13° 3...",Adlershof,Adlershof,"52° 26' 5"" N,13° 32' 29"" O","52° 26' 5"" N","13° 32' 29"" O",52.4347,13.5414
1,"Marzahn(Marzahn-Hellersdorf)52° 34′ 18″ N, 13°...",Ahrensfelde,Marzahn,"52° 34' 18"" N,13° 33' 54"" O","52° 34' 18"" N","13° 33' 54"" O",52.5717,13.565
2,"Staaken(Spandau)52° 32′ 58″ N, 13° 7′ 42″ O",Albrechtshof,Staaken,"52° 32' 58"" N,13° 7' 42"" O","52° 32' 58"" N","13° 7' 42"" O",52.5494,13.1283
3,"Mitte(Mitte)52° 31′ 17″ N, 13° 24′ 43″ O",Alexanderplatz,Mitte,"52° 31' 17"" N,13° 24' 43"" O","52° 31' 17"" N","13° 24' 43"" O",52.5214,13.4119
4,"Reinickendorf(Reinickendorf)52° 34′ 40″ N, 13°...",Alt-Reinickendorf,Reinickendorf,"52° 34' 40"" N,13° 21' 2"" O","52° 34' 40"" N","13° 21' 2"" O",52.5778,13.3506

In [23]:
df_metro

,Lage,Station,Neighbourhood,Coordinates,Latitude,Longitude,lat,lon
0,"Adlershof(Treptow-Köpenick)52° 26′ 5″ N, 13° 3...",Adlershof,Adlershof,"52° 26' 5"" N,13° 32' 29"" O","52° 26' 5"" N","13° 32' 29"" O",52.4347,13.5414
1,"Marzahn(Marzahn-Hellersdorf)52° 34′ 18″ N, 13°...",Ahrensfelde,Marzahn,"52° 34' 18"" N,13° 33' 54"" O","52° 34' 18"" N","13° 33' 54"" O",52.5717,13.565
2,"Staaken(Spandau)52° 32′ 58″ N, 13° 7′ 42″ O",Albrechtshof,Staaken,"52° 32' 58"" N,13° 7' 42"" O","52° 32' 58"" N","13° 7' 42"" O",52.5494,13.1283
3,"Mitte(Mitte)52° 31′ 17″ N, 13° 24′ 43″ O",Alexanderplatz,Mitte,"52° 31' 17"" N,13° 24' 43"" O","52° 31' 17"" N","13° 24' 43"" O",52.5214,13.4119
4,"Reinickendorf(Reinickendorf)52° 34′ 40″ N, 13°...",Alt-Reinickendorf,Reinickendorf,"52° 34' 40"" N,13° 21' 2"" O","52° 34' 40"" N","13° 21' 2"" O",52.5778,13.3506
...,...,...,...,...,...,...,...,...
167,"Zehlendorf(Steglitz-Zehlendorf)52° 25′ 51″ N, ...",Zehlendorf,Zehlendorf,"52° 25' 51"" N,13° 15' 30"" O","52° 25' 51"" N","13° 15' 30"" O",52.4308,13.2583
168,"Zehlendorf(Steglitz-Zehlendorf)52° 25′ 32″ N, ...",Zehlendorf Süd,Zehlendorf,"52° 25' 32"" N,13° 14' 24"" O","52° 25' 32"" N","13° 14' 24"" O",52.4256,13.24
169,"Panketal52° 39′ 35″ N, 13° 32′ 2″ O",Zepernick,Panketal52,"52° 39' 35"" N,13° 32' 2"" O","52° 39' 35"" N","13° 32' 2"" O",52.6597,13.5339
170,"Zeuthen52° 20′ 55″ N, 13° 37′ 39″ O",Zeuthen,Zeuthen52,"52° 20' 55"" N,13° 37' 39"" O","52° 20' 55"" N","13° 37' 39"" O",52.3486,13.6275
171,Charlottenburg(Charlottenburg-Wilmersdorf)52° ...,Zoologischer Garten,Charlottenburg,"52° 30' 26"" N,13° 19' 57"" O","52° 30' 26"" N","13° 19' 57"" O",52.5072,13.3325

In [24]:
df_metro.shape

(172, 8)

In [25]:
df_metro.drop(['Lage', 'Neighbourhood', 'Coordinates', 'Longitude', 'Latitude'], axis=1, inplace=True)

In [26]:
df_metro.head()

             Station      lat      lon
0          Adlershof  52.4347  13.5414
1        Ahrensfelde  52.5717   13.565
2       Albrechtshof  52.5494  13.1283
3     Alexanderplatz  52.5214  13.4119
4  Alt-Reinickendorf  52.5778  13.3506

In [28]:
df_metro.to_csv('../../II_Datasets/Berlin_metro.csv')